.App {
  text-align: center;
  background-color: #d2d0e7;
  font-family: Inconsolata;
  color: #053f34;
  /* stop sticky footer from covering content */
  /* min-height: 400px;
  margin-bottom: 109px; */
}
@keyframes animateSquiggles {
  0% {
    background-position: 0% 100%;
  }
  25% {
    background-position: 25% 100%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.cabin {
  font-family: Cabin;
  color: #053f34;
  /* adding wavy line to all cabin fonts */
  padding-bottom: 1rem;
  background-image: url(https://daks2k3a4ib2z.cloudfront.net/5825f89e8ad305816466d37f/583e146240b743510c55b186_techhire-wavy.svg);
  background-position: 0% 100%;
  background-repeat: repeat-x;
  background-size: 250px;
}
.cabin:hover {
  background-position: 10% 100%;
  animation-name: animateSquiggles;
  animation-direction: forward;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.inconsolata {
  font-family: Inconsolata;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #d2d0e7;
}

.icon {
  height: 25px;
  width: 25px;
  margin: 10px;
}
