.App {
  text-align: center;
  background-color: #d2d0e7;
  font-family: Inconsolata;
  color: #053f34;
  /* stop sticky footer from covering content */
  /* min-height: 400px;
  margin-bottom: 109px; */
}

.cabin {
  font-family: Cabin;
  color: #053f34;
}

.inconsolata {
  font-family: Inconsolata;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #d2d0e7;
}

.icon {
  height: 25px;
  width: 25px;
  margin: 10px;
}
