/* applying both .card & .portfolio-card to override defaul bootstrap card styling */
.card.portfolio-card {
  border-radius: 50px;
  background-color: #d2d0e7;
  border: 2px solid #053f34;
  height: 400px;
  width: 350px;
  margin: 10px;
  padding: 5px;
}

a.extern-link {
  background-color: #d2d0e7;
  color: #053f34;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #053f34;
  text-decoration: none;
  margin: 5px;
}

/* center cards when there is a single column spread */
.card-col {
  display: flex;
  justify-content: center;
}

.card-title {
  font-family: Cabin;
}
.card-image.screenshot {
  width: 300px;
  border-radius: 50px;
}
