.footer {
  background-color: #ffde8b;
  padding-top: 30px;
  margin-top: 30px;
}
.aboutme1 {
  font-size: calc(14px + 1.5vw); /*use calc to set a minimum font size*/
  font-style: italic;
}
.footer-text {
  font-size: calc(11px + 1vw);
  margin-bottom: 30px;
}
.email {
  background-color: #ffde8b;
  color: #053f34;
  border-radius: 25px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #053f34;
  margin: 10px;
}
.up-arrow {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px 15px 0px 15px;
  /* color: #d2d0e7; */
  color: #ffde8b;
  background-color: #053f34;
  border-radius: 50%;
  font-size: 30px;
  border: none;
}
.up-arrow:hover {
  transform: scale(1.2);
}
@media only screen and (max-width: 690px) {
  .footer {
    font-size: 5px;
  }
  .footer-icon {
    height: 30px;
  }
}
.relative {
  position: relative;
}
