.landing-page {
  height: calc(100% - 100px);
  min-height: 695px;
  text-align: left;
  margin-left: 70px;
  margin-top: 150px;
}
.greeting {
  font-size: 10vw;
  position: relative;
  z-index: 1;
}
.desc {
  font-size: 4vw;
  font-style: italic;
  z-index: 2;
}
// https://codepen.io/alvaromontoro/pen/GRNmdzB
.dot {
  width: 3vw;
  height: 3vw;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  z-index: 0;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 250vh, 0);
  }
}
// use scss to vary the dots size & transparency
@for $i from 1 through 100 {
  .dot:nth-child(#{$i}) {
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{30 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}
