.landing-page {
  margin-top: 100px;
  height: 40vh;
  text-align: left;
}
/* .greeting {
  font-size: 10vw;
  position: relative;
  z-index: 1;
}
.desc {
  font-size: 4vw;
  font-style: italic;
  z-index: 2;
} */
