.nav-container {
  color: #053f34;
  /* margin-bottom: 100px; */
}

link {
  color: #053f34;
  text-decoration: none;
}
a {
  color: #053f34;
  text-decoration: none;
}
.nav {
  color: #053f34;
  text-decoration: none;
  margin: 20px;
}
.nav-title {
  font-size: 20px;
  margin-right: 30px;
}
