.nav-container {
  color: #053f34;
  text-align: left;
  background-color: #f2d3e5;
  margin-top: -10px;
}

.nav-title {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 10px;
  background-color: #053f34;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px;
}
.nav-title:hover {
  color: #ffde8b;
}
.nav {
  text-decoration: none;
  margin: 20px;
}
.resume-link {
  text-decoration: none;
}
