.nav-container {
  color: #053f34;
  text-align: left;
}

.nav-title {
  font-size: 27px;
  margin-right: 30px;
}

.nav {
  color: #053f34;
  text-decoration: none;
  margin: 20px;
}

.special-item {
  color: red;
}
